body{
    font-family: Lato, sans-serif;
    background-color:rgb(231, 215, 196);
}
.main{
    margin-top:50px;
    background-color:antiquewhite;
    border-radius:20px;
}
.nav__bar{
    text-align: center;
    justify-content:space-between;

}
.nav__link{
    flex-direction:row;
    margin-left: 100px;
    font-size: 1.3rem;
    text-decoration: none;
    color:black;
    box-sizing: border-box;

}
.nav__link:hover{
    color: rgb(231, 68, 103);
    transition: all 0.4s;
}
.icon{
    max-width:100px;
    max-height:100px;
    vertical-align: middle;
}
.nav__title{
    font-size: 1.3rem;
}
.nav__link-current{
    font-weight: bold;
}
.welcome{
    text-align:center;
    margin-top:0px;
    padding-bottom:100px;
    display:flex;
    flex-direction:column;
    vertical-align:middle;
    align-items: center;
    
}
.welcome__img{
    max-block-size: 250px;
    margin-top:0px;
}
.welcome__text{
    margin-top:0;
    max-width: 400px;
    text-align:center;
    font-size:1.2rem;
    line-height:150%;
}
.start__button{
    font-size:1.5rem;
    font-family:inherit;
    border:none;
    border-radius: 6px;
    background-color:rgb(248, 148, 169);
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    box-shadow: 2px 5px 1px 1px rgb(165, 33, 62);
}
.start__button:hover{
    cursor:pointer;
    background-color:rgb(231, 68, 103);
    transition: all 0.4s;
}
.video__question{
   align-items: center;
   max-width:640px;
   margin: 0 auto;
   background-color:rgb(190, 153, 161);
   padding:1%;
   border-radius:20px;
}
.video__box{
    margin-bottom:100px;
    margin-top:60px;
}

.answer__button{
    border-radius:20px;
    border:none;
    padding:10px;
    font-size:3rem;
    font-family:inherit;
    width:250px;
    height:150px;
    background-color:rgb(248, 148, 169);    
    color:rgb(105, 15, 35);
    box-shadow: 3px 6px 2px 1px rgb(173, 20, 53);
}
.answer__button:hover{
    background-color:rgb(231, 68, 103);
    transition: all 0.4s;
    cursor:pointer;

}
.answer__box{
    display:flex;
    justify-content:space-between;
    margin-left:75px;
    margin-right:75px;
    font-family:inherit;
}
.contact{
    display:flex;
    text-align:center;
    justify-content:center;
}
.contact__link{
    margin-left:10px;
    box-shadow: 4px 4px 3px 2px #69AF5E;
    text-decoration:none;
    color:black;
    background-color: #95FF84
}
.main__contact{
    margin-top:50px;
}

.icong{
    max-width:1.5rem;
    vertical-align:middle;
}

.contact__link:hover{
    background-color:#B5FFA9;
    transition: all 0.4s;
}

.login__box{
    display:flex;
    margin: 0 auto;
    max-width:500px;
}
.login__button{
    font-size:1.5rem;
    font-family:inherit;
    border:none;
    border-radius: 6px;
    background-color:rgb(248, 148, 169);
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    box-shadow: 2px 5px 1px 1px rgb(165, 33, 62);
    margin-left:0px;
}
.login__button:hover{
    cursor:pointer;
    background-color:rgb(231, 68, 103);
    transition: all 0.4s;
}
.login__h{
    margin: 0 auto;
    text-align: center;
    margin-bottom:30px;
    margin-top:40px;
    font-size:3rem;
}
.login__p{
    margin: 0 auto;
    text-align: center;
    margin-bottom:30px;
    font-size:1.5rem;
    max-width:800px;
}
.email__input{
    margin-bottom:50px;
    margin-top:50px;
    font-size:1.5rem;
    font-family:inherit;
    border:none;
    border-radius: 6px;
    background-color:rgb(189, 180, 168);
    width:500px;
    padding-bottom:10px;
    box-shadow: 1px 3px 1px 1px rgb(117, 110, 101);
}
.login__img{
    display:flex;
    margin: 0 auto;
    width:15%;
    height:15%;
}