{% extends 'base.html' %}

{% block content %}
<main class="main__contact">
    <div class="contact">
        <p>
            <img class="icong" src="/static/gmailIcon.svg">Google Mail
                <a class="contact__link" href="mailto:rafaeldamacena9304@gmail.com">
                    Contact-me!
                </a>
        </p>
    </div>
        <div class="contact">
        <p>
            <img class="icong" src="/static/instaIcon.svg">Instagram
                <a class="contact__link" href="https://instagram.com/rafaeldamacenad">
                    Contact-me!
                </a>
        </p>
    </div>
            <div class="contact">
        <p>
            <img class="icong" src="/static/whatsIcon.svg">Whatsapp
                <a class="contact__link" href="https://wa.link/p3v4v3">
                    Contact-me!
                </a>
        </p>
    </div>
</main>
{% endblock %}